<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div id="admin" th:fragment="adminload">
    <aside>
        <div class="activity" th:if="${artists.isEmpty()}">
            <p>Артисты отсутствуют</p>
        </div>
        <div class="activity" th:each="artist : ${artists}">
            <h2 th:utext="'<u>' + ${artist.name} + '</u>'"></h2>
            <p th:utext="'<u>Жанр</u>: ' + ${artist.genre}"></p>
            <div class="activityWork">
                <input type="button" name="moreArtist" th:value="Подробнее" th:attr="data-url=@{/artists/__${artist.id}__}">

                <div class="dropdown">
                    <input type="button" class="dropbtn" name="dropbtnartist" value="Действия">
                    <div id="dropdownArtist" class="dropdown-content">
                        <input type="button" name="deleteArtist" th:value="Удалить" th:attr="data-url=@{/artists/__${artist.id}__/delete}">
                        <input type="button" name="editArtist" th:value="Редактировать" th:attr="data-url=@{/artists/__${artist.id}__/edit}">
                    </div>
                </div>

            </div>
        </div>
    </aside>

    <section class="adminSection">
        <div class="activityWork">
            <a th:href="@{/activities/add}">Добавить фестиваль</a>
            <a th:href="@{/artists/add}">Добавить артиста</a>
        </div>

        <div class="activity" th:if="${activities.isEmpty()}">
            <p>События отсутствуют</p>
        </div>

        <div class="activity" th:each="activity : ${activities}">
            <h2 th:utext="'<u>' + ${activity.activityType} + '</u>: ' + ${activity.name}"></h2>
            <p th:utext="'<u>Дата проведения</u>: ' + ${#dates.format(activity.date, 'dd-MM-yyyy')}"></p>
            <p th:utext="'<u>Место</u>: ' + ${activity.place.address}"></p>
            <div class="activityWork">
                <input type="button" name="more" th:value="Подробнее" th:attr="data-url=@{/activities/__${activity.id}__}">

                <div class="dropdown">
                    <input type="button" class="dropbtn" name="dropbtnactivity" value="Действия">
                    <div id="dropdownActivity" class="dropdown-content">
                        <input type="button" name="deleteActivity" th:value="Удалить" th:attr="data-url=@{/activities/__${activity.id}__/delete}">
                        <input type="button" name="editActivity" th:value="Редактировать" th:attr="data-url=@{/activities/__${activity.id}__/edit}">
                        <input type="button" name="addActivityArtist" th:value="'Подписать артиста'" th:attr="data-url=@{/activities/__${activity.id}__/artists/unused}">
                        <input type="button" name="deleteActivityArtist" th:value="'Отписать артиста'" th:attr="data-url=@{/activities/__${activity.id}__/artists/used}">
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</html>