<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (requireData = @{/js/home})"></head>
<body>
<div id="wrapper">
    <div lang="ru" th:replace="fragments/navigation :: navigation"></div>
    <div lang="ru" th:replace="fragments/slider :: slider"></div>

    <section>
        <blockquote>
            <p>ДОСТУПНЫЕ СОБЫТИЯ</p>
        </blockquote>
        <div id="home"></div>
    </section>

    <div lang="ru" th:replace="fragments/footer :: footer"></div>
    <!--TODO: Inifinite load-->
</div>
</body>
</html>