<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="reg" th:fragment="activityedit(action)">
    <h2>События</h2>
    <form name='regForm' th:action="@{/activities/add}" th:object="${activity}" method='POST'>
        <input type="hidden" th:name="${action}">
        <input type="hidden" th:field="${activity.id}">

        <!--добавить size=2, чтобы сделать широкий список-->
        <label for="activityType">Тип события:</label>
        <select class="list" id="activityType" name="activityType" th:field="*{activityType}">
            <option value="FESTIVAL" selected>Фестиваль
            <option value="CONCERT">Концерт
        </select>

        <label for="name">Название</label>
        <input type="text" id="name" name="name" th:field="*{name}" placeholder="название*" required/>
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>

        <label for="date">Дата события</label>
        <input type="date" id="date" name="date" th:field="*{date}" placeholder="дата" required/>
        <span class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date error</span>

        <label for="address">Адрес</label>
        <input type="text" id="address" name="address" th:field="*{place.address}" placeholder="адрес*" required/>
        <span class="error" th:if="${#fields.hasErrors('place.address')}" th:errors="*{place.address}">Address error</span>

        <label for="capacity">Вместительность</label>
        <input type="number" id="capacity" name="capacity" th:field="*{place.capacity}" placeholder="кол-во мест*"/>
        <span class="error" th:if="${#fields.hasErrors('place.capacity')}" th:errors="*{place.capacity}">Capacity error</span>

        <label for="description">Описание</label>
        <textarea name="description" id="description" th:field="*{description}" placeholder="описание"></textarea>
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</span>

        <span class="error" th:if="${#request.getParameter('error') == 'true'}">Фестиваль уже существует</span>
        <div><input type="submit" name="apply" value="Принять"></div>
    </form>
</div>
</html>