<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="reg" th:fragment="artistedit">
    <h2>Добавление артиста</h2>
    <form name='regForm' th:action="@{/artists/add}" th:object="${artist}" method='POST'>
        <input type="text" name="name" th:field="*{name}" placeholder="название*" required/></br>
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span></br>

        <input type="text" name="genre" th:field="*{genre}" placeholder="жанр"/></br>
        <span class="error" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre error</span></br>

        <span class="error" th:if="${#request.getParameter('error') == 'true'}">Фестиваль уже существует</span></br>
        <input type="submit" name="artist" value="Добавить">
    </form>
</div>
</html>