<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="reg" th:fragment="artistedit(action)">
    <h2>Артист</h2>
    <form name='regForm' th:action="@{/artists/add}" th:object="${artist}" method='POST'>
        <input type="hidden" th:name="${action}">
        <input type="hidden" th:field="${artist.id}">

        <input type="text" name="name" th:field="*{name}" placeholder="название*" required/>
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>

        <input type="text" name="genre" th:field="*{genre}" placeholder="жанр"/>
        <span class="error" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre error</span>

        <span class="error" th:if="${#request.getParameter('error') == 'true'}">Артист уже существует</span>
        <div><input type="submit" name="artistsubmit" value="Добавить"></div>
    </form>
</div>
</html>